/* Variables */
:root {
    --dark-col: #615048; /*A19284,89685c*/
    --light-col: #FCF9DB;
    --active-col: #2AD800;
    --hoover-col: #4C403B;
    --dark-text: #000000;
    --light-text: #FCF9DB;
}

/* Main */
.bg-section {
  background-color: var(--dark-col);
}
.card-header {
  color: white;
  background-color: var(--dark-col);
}


html {
  scroll-behavior: smooth;
}

body {
  position: relative;
}

.jumbotron {
  color: white;
  background-image: url("https://raw.githubusercontent.com/AdiUdo/website2/master/img/hero-bck.jpg");
  background-blend-mode: multiply;
  background-color: #666666;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-container {
  bottom: 0px;
}


/* Navbar */

#custom .nav {
  min-width: 60%;
}

#navbar-scroll .nav-link {
  color: white;
}

#navbar-scroll .nav-link.active {
  color: var(--active-col);
}

#navbar-scroll .nav-item {
  position: relative;
  color: white;
}


#footer .nav-link {
  padding-left: 0;
}

/* Tabs */


/* Cards*/

h5.card-title {
  font-weight: 700;
  color: #21A801;
}

#sluzby .card {
  border-width: 5px!important;
}

#custom .card {
  border: 0;
}

#custom img.card-img-top {
  width: 100%;
  height: 18vh;
  object-fit: cover;
  object-position: left;
}

.zindex-100 {
  z-index: 100 !important;
}

#vysledky .card {
  padding: 15px;
  width: 620px;
  height: 495px;
}

#vysledky img {
  position: relative;
  top: 70px;
}

#vysledky .card-text {
  font-size: 1.1em;
  font-variant: all-petite-caps;
}

#postup .card-body {
  border-top:var(--active-col) solid 4px;

}

#avatar {
  max-height: 150px;
}

/* Media box */
#custom .media {
  height: 80px;
}

/* Slices */


.headline {
  text-align: center!important;
}
/* Carousel */
.swiper-container {
  width: 100%;
  height: 280px;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  /*background: #fff;*/
}

.swiper-vysledky {
  width: 730px;
  height: 600px;
}

.swiper-pagination-bullet {
  background-color: var(--active-col)!important;
}

/* Media queries */

/* Custom class */
.kodex {
  font-size: .8em;
}

.media img {
  width: 75px;
}

/* Referencie */
.text-testimonial-main {
  font-style: italic;
  font-weight: lighter;
}

/* Footer*/



/*  Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
 #custom .jumbotron {
   height: 40vh;
 }
 #custom h1.display-4 {
   font-size: calc(1rem + 2.7vw);
 }
#navbar-scroll .nav-link {
  font-size: 50px;
  font-weight: 700;
}
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) { 
  #navbar-scroll .nav-link {
    font-size: 50px;
    font-weight: 700;
  }
  #custom .jumbotron {
    height: 40vh;
  }
  #footer p {
    margin-bottom: 0.1rem!important;
  }
  #footer a {
    padding: 0.1rem 0.1rem;
  }
  #footer hr {
    margin: 0.1rem 0.1rem;
  }
 }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) { 
  #custom .jumbotron {
    height: 40vh;
  } 
 }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px)  { 
  #navbar-scroll .nav-link.active::before {
    content: '';
    display: block;
    height: 5px;
    background-color: var(--active-col);
    position: absolute;
    top: -13px;
    width: 75%;
  }
  
  #navbar-scroll .nav-link::before {
    content: '';
    display: block;
    height: 5px;
    background-color: var(--active-col);
    position: absolute;
    top: -13px;
    width: 0%;
    transition: all ease-in-out 250ms;
  }
  
  #navbar-scroll .nav-link:hover::before {
    width: 75%;
  }
 }


/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
  #custom .jumbotron {
    min-height: 60vh;
  } 
 }




