// Custom.scss
// Option A: Include all of Bootstrap




// Your variable overrides

$enable-responsive-font-sizes: true;
$enable-gradients: false;

$primary:#2AD800; // your custom primary color
$secondary:#615048;
$success: #A19284; //89685c,A38266
$warning: #eee7e1;
$light:#FCF9DB;
$dark:#615048;
$font-family-base: 'Open Sans', sans-serif;
$h1-font-size: 2.9rem;
$h3-font-size: 1.3rem;
$h6-font-size: 0.9rem;
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px
);
$spacer: 1rem;
$spacers: (
  6: ($spacer * 3.5),
  7: ($spacer * 10)
)
